<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W***le Ripoff</title>

      
    

    <script>
      const cookie_name = "cookie";
      const wins_cookie_name = "wins?";
      const games_cookie_name = "games!";
      function getgames() {
  //This starts the second function that gets the value in the cookie and assigns it to a variable name.
  
  if(document.cookie) {
    index = document.cookie.indexOf(games_cookie_name);
    if (index != -1) {
    countbegin = (document.cookie.indexOf("!", index) + 2);
    countend = document.cookie.indexOf("-", index);
  //Grab the second piece of information in the cookie, the number (see the +1?).
  
    if (countend == -1) {
    countend = document.cookie.length;
    }
    count = document.cookie.substring(countbegin, countend);
    if (count == 1) {
    return (count);
    } else {
    return (count);
  //If the count is one, then return the singular "time." If the count is more, return the plural "times."
  
  }
  }
  }
  return (0);
  //If the number is 0, then return "0 times."
  
  }
      function doCookie() {
      if(document.cookie)
      {index = document.cookie.indexOf(cookie_name);}
      //Is there a cookie named Counter_Cookie? If so, use that.
      
      else
      {index = -1;}
      //If there isn't, set the index to minus one (-1).
      
      var expires = "Monday, 04-Apr-2030 05:00:00 GMT"
      //A variable is set up to represent the expires date.
      
      if (index == -1)
      {document.cookie=cookie_name+"=1; expires=" + expires;}
      //If the index was set to minus one, then set the cookie with the name Counter_Cookie, a number 1, then the expires date.
      
      else
      {
      countbegin = (document.cookie.indexOf("=", index) + 1);
      countend = document.cookie.indexOf(";", index);
      if (countend == -1) {
      countend = document.cookie.length;
      }
      count = eval(document.cookie.substring(countbegin, countend)) + 1;
      
      document.cookie=cookie_name+"="+count+"; expires=" + expires;
      }
      }   
      function getwins() {
  //This starts the second function that gets the value in the cookie and assigns it to a variable name.
  
  if(document.cookie) {
    index = document.cookie.indexOf(wins_cookie_name);
    if (index != -1) {
    countbegin = (document.cookie.indexOf("?", index) + 2);
    countend = document.cookie.indexOf("+", index);
  //Grab the second piece of information in the cookie, the number (see the +1?).
  
    if (countend == -1) {
    countend = document.cookie.length;
    }
    count = document.cookie.substring(countbegin, countend);
    if (count == 1) {
    return (count);
    } else {
    return (count);
  //If the count is one, then return the singular "time." If the count is more, return the plural "times."
  
  }
  }
  }
  return (0);
  //If the number is 0, then return "0 times."
  
  }    
      function gettimes() {
//This starts the second function that gets the value in the cookie and assigns it to a variable name.

if(document.cookie) {
  index = document.cookie.indexOf(cookie_name);
  if (index != -1) {
  countbegin = (document.cookie.indexOf("=", index) + 1);
  countend = document.cookie.indexOf(";", index);
//Grab the second piece of information in the cookie, the number (see the +1?).

  if (countend == -1) {
  countend = document.cookie.length;
  }
  count = document.cookie.substring(countbegin, countend);
  if (count == 1) {
  return (count+" time");
  } else {
  return (count+" times");
//If the count is one, then return the singular "time." If the count is more, return the plural "times."

}
}
}
return ("0 times");
//If the number is 0, then return "0 times."

}
      console.log("<b>You have been to my site "+gettimes()+" before.</b>");
      console.log("<b>You have won "+getwins()+" before.</b>");
      console.log("<b>You have played "+getgames()+" before.</b>");
    </script>

    <link rel="stylesheet" href="assets/css/game_styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body onLoad="doCookie()">
    <div id="container">
      <div id="game">
        <header>
          <h1 class="title">Something or other</h1>
        </header>

        <button id="myBtn" onclick="displayModal();">Stats</button>

<!-- The Modal -->
        <div id="myModal" class="modal">
        
          <!-- Modal content -->
          <div class="modal-content" id="score-window">
            <span class="close" onclick="hideModal();">&times;</span>
            <script>
              let numWins = getwins();
              let numGames = getgames();
              let modText;
              if (numGames !== 0){
                modText = String(Math.round(numWins/numGames*100));
                modText = "Win PCT: " + modText + "%"
              }
              else{
                modText = "No games yet";
              }
             
              let tag = document.createElement("p");
              let text = document.createTextNode(modText);
              tag.appendChild(text); // <p>TEST TEXT</p>
              let element = document.getElementById("score-window");
              element.appendChild(tag);
            </script>
            
          </div>
        
        </div>

        <div id="board-container">
          <div id="board"></div>
        </div>

        <div id="keyboard-container">
          <div class="keyboard-row">
            <button data-key="q">q</button>
            <button data-key="w">w</button>
            <button data-key="e">e</button>
            <button data-key="r">r</button>
            <button data-key="t">t</button>
            <button data-key="y">y</button>
            <button data-key="u">u</button>
            <button data-key="i">i</button>
            <button data-key="o">o</button>
            <button data-key="p">p</button>
          </div>
          <div class="keyboard-row">
            <div class="spacer-half"></div>
            <button data-key="a">a</button>
            <button data-key="s">s</button>
            <button data-key="d">d</button>
            <button data-key="f">f</button>
            <button data-key="g">g</button>
            <button data-key="h">h</button>
            <button data-key="j">j</button>
            <button data-key="k">k</button>
            <button data-key="l">l</button>
            <div class="spacer-half"></div>
          </div>
          <div class="keyboard-row">
            <button data-key="enter" class="wide-button">Enter</button>
            <button data-key="z">z</button>
            <button data-key="x">x</button>
            <button data-key="c">c</button>
            <button data-key="v">v</button>
            <button data-key="b">b</button>
            <button data-key="n">n</button>
            <button data-key="m">m</button>
            <button data-key="del" class="wide-button">Del</button>
          </div>
        </div>
      </div>
    </div>
    
  </body>

  <script src="assets/js/game.js"></script>

</html>
